@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* src/app/globals.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #F3F4F6;
  color: #333;
}

.CardHeight {
    height: 109px;
}

.text-Size-20 {
    font-size: 20px;
}

.color-buttonEdit {
    background-color: #2563EB;
    color: white;
}